<table class="table table-dark ">
    <thead >
      <tr class="table-success">
        <th scope="col">Teacher ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"> Adresse</th>
        <th scope="col">Speciality</th>
        <th scope="col">Email</th>
        <th scope="col">Tél </th>
        <th scope="col">status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody  *ngFor="let teacher of teachers">
      <tr >
    
        <td >{{teacher._id}}</td>
        <td >{{teacher.firstName}}</td>
        <td>{{teacher.lastName}}</td>
         <td>{{teacher.adr}}</td>
         <td >{{teacher.speciality}}</td>
         <td>{{teacher.email}}</td>
         <td>{{teacher.tel}}</td>
         <td>{{teacher.status}}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="valider(teacher._id)"> Valider </button>
                      <button type="button" class="btn btn-danger" (click)="goToDelete(teacher._id)" style="margin-left: 5px;"> Delete </button>
            <button type="button" class="btn btn-warning" (click)="goToDisplay(teacher._id)" style="margin-left: 5px;"> Display </button>
        </td>
      </tr>
     
    </tbody>
  </table>

