<table class="table table-dark ">
    <thead >
      <tr class="table-success">
        <th scope="col">Cours ID</th>
        <th scope="col"> Name</th>
        <th scope="col">description</th>
        <th scope="col">Durée</th>
        <th scope="col" *ngIf="user.role=='teacher'">teacher Name</th>
        <!-- <th scope="col">teacher Name</th> -->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let cours of courses" >
      <tr >
        <td >{{cours._id}}</td>
        <td> {{cours.name}}</td>
        <td>{{cours.description}}</td>
        <td>{{cours.dure}}</td>
        <td *ngIf="user.role=='teacher'">{{cours.teacher.firstName}}</td>
        <!-- <td>{{cours.teacher.firstName}} {{cours.teacher.lastName}}</td> -->
        
        <td>
           
            <button type="button" class="btn btn-success" (click)="edit(cours._id)" style="margin-left: 5px;" *ngIf="user.role=='teacher' ||user.role=='admin' ">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(cours._id)" style="margin-left: 5px;" *ngIf="user.role=='admin' || user.role=='teacher' ">Delete</button>
            <button type="button" class="btn btn-warning" (click)="display(cours._id)" style="margin-left: 5px;">Display</button>
        </td>
      </tr>
     
    </tbody>
  </table>


