<section class="our-courses" id="courses">
      
    <div class=" text-center" style="margin-top: 10px;">
      <div class="section-heading align-center">
        <h2> Dashboard Teacher </h2>
      </div>
    </div>

   
    <ul class="nav nav-tabs" id="myTab" role="tablist">
       
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Courses</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        
        <div class="tab-pane fadeshow active" id="home" role="tabpanel" aria-labelledby="home-tab"><app-cours-table></app-cours-table></div>
      </div>
    
    
</section>
