<img [src]="coursInput.img" alt="Course One"  width="300px" height="300px" >
              <div class="down-content">
                <h4 class="cours" [ngStyle]=" { 'color': coursColor(coursInput.name)}">Cours Name : {{coursInput.name}} </h4>
                <div class="info">
                    <p></p>
                  <div class="row">
                  
                      <ul class="text-center">
                        <li> Cours Durée : {{coursInput.dure}}</li>
                      </ul>
                      <ul class="text-center">
                        <li>Cours Description : {{coursInput.description}}</li>
                      </ul>
                      
                
                    
                  </div>
                </div>
              </div>
             
