<img src="assets/images/course-02.jpg" alt="Course One">
              <div class="down-content">
                <h4>{{coursInput.name}} </h4>
                <div class="info">
                    <p></p>
                  <div class="row">
                  
                      <ul class="text-center">
                        <li>{{coursInput.dure}}</li>
                        
                      </ul>
                
                    
                  </div>
                </div>
              </div>
