<section class="our-courses" id="courses">

    <div class=" text-center" style="margin-top: 30px;">
      <div class="section-heading">
        <h2>Validate teacher</h2>
      </div>
    </div>
  
    <div class="col-lg-12 align-self-center">
      <!-- ****************************** Signup Form Start ********************** -->
      <div class="signup-container">
        <form #validateForm="ngForm" (ngSubmit)="validate()" >
          <div class="row">

               <!-- First Name -->
               <div class=" col-lg-12">
                <fieldset>
                  <input name="c" type="text" class="form-control" [(ngModel)]="teacher.firstName" placeholder="Fisrt Name">
                </fieldset>
              </div>

               <!-- Last Name -->
            <div class="col-lg-12">
              <fieldset>
                <input name="b" type="text" class="form-control" [(ngModel)]="teacher.lastName" placeholder="Last Name">
              </fieldset>
            </div>

            <!-- Status -->
            <div class=" col-lg-12">
          
                <select name="a" type="text" class="form-control" [(ngModel)]="teacher.status" placeholder="Status">
                  <option value="validate"> Validate </option>
                </select>
             
            </div>
            
          <!-- Button Sign Up -->
          <div class="main-button-red text-center">
            <div class="scroll-to-section"><a style="color: white;"  > Validate </a></div>
          </div>

          <span style="color: red;">{{errorMsg}}</span>

        </div>
      </form>
       <!-- ******************************  Form end  ********************** -->
      </div>
  
  
      
  
    </div>
  
  </section>
