<section class="our-courses" id="courses">

    <div class=" text-center" style="margin-top: 30px;">
      <div class="section-heading">
        <h2>Edit User</h2>
      </div>
    </div>
  
    <div class="col-lg-12 align-self-center">
      <!-- ****************************** Signup Form Start ********************** -->
      <div class="signup-container">
        <form #editUserFrom="ngForm" (ngSubmit) ="Edit()" >
          <div class="row">
            <!-- First Name -->
            <div class=" col-lg-12">
              <fieldset>
                <input name="a" type="text" class="form-control" [(ngModel)]="user.firstName" placeholder="Fisrt Name">
              </fieldset>
            </div>
            
           
            <!-- Adresse -->
            <div class="col-lg-12">
              <fieldset>
                <input name="h" type="text" class="form-control" [(ngModel)]="user.adr" placeholder="Adresse">
              </fieldset>
            </div>
           
            <!-- Tél -->
            <div class="col-lg-12">
              <fieldset>
                <input name="c" type="number" class="form-control" [(ngModel)]="user.tel" placeholder="Telephone">
              </fieldset>
            </div>
        
           
           
          
              
          
            <!-- Teacher Speciality -->
            <div class="col-lg-12" *ngIf="user.role=='teacher'">
              <fieldset>
                <input name="j" type="text" class="form-control" [(ngModel)]="user.speciality" placeholder="Speciality">
              </fieldset>
            </div>
            
         
        
          <!-- Button edit User-->

          
          <div class="main-button-red text-center">
            <button type="submit" class="btn btn-danger " value="">Edit </button>
          </div>

         

          <span style="color: red;">{{errorMsg}}</span>
          
        </div>
      </form>
       <!-- ******************************  Form end  ********************** -->
      </div>
  
  
      
  
    </div>
  
  </section>

