<section class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-8">


          <div class="service-item carousel">
         
          
            <div class="item">
              <div class="icon">
                
              </div>
              <div class="down-content">
                <h4>Best Education</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>
            
            


            
          </div>
        </div>
      </div>
    </div>
  </section>
