<!-- <section class="our-courses" id="courses">
    <div class="container">

      <div class=" text-center" style="margin-top: 30px;">
        <div class="section-heading align-center">
          <h2> Our teachers </h2>
        </div>
      </div>

       

       <div class="row "> -->
        <section class="our-courses" id="courses">
          <div class="container">
            <div class="row">
      
            
                  <div class=" text-center" style="margin-top: 30px;">
                    <div class="section-heading align-center">
                      <h2> Our Teachers  </h2>
                    </div>
                  </div>
      
              
    <div class="row">

          <div class="item col-md-4" *ngFor="let teacher of teachers">
              
              <app-teachers [teacherInput]="teacher"></app-teachers>
            </div>



        
      </div>
    </div>
  </div>
</section>
      <!-- </div>
       
        
     
      
    </div>
  </section> -->
