<section class="our-courses" id="courses">
    <div class="container">

      <div class=" text-center" style="margin-top: 30px;">
        <div class="section-heading align-center">
          <h2> Our teachers </h2>
        </div>
      </div>

       

       <div class="row ">

      <div class="col col-md-3" *ngFor="let teacher of teachers">
          
          <app-teachers [teacherInput]="teacher"></app-teachers>
        </div>
      </div>
       
        
     
      
    </div>
  </section>
