
        <section class="our-courses" id="courses">
            <div class="container">
              <div class="row">
        
              
                    <div class=" text-center" style="margin-top: 30px;">
                      <div class="section-heading align-center">
                        <h2> User Information  </h2>
                      </div>
                    </div>
        
                
                    <div class="row">

                        <div class="item col-md-8" >
                    <img [src]="user.photo" alt="Course One" width="500px" height="500px" >
                    <div class="down-content">
                      <h4>First Name: {{user.firstName}} </h4>
                      <h4>Last Name:  {{user.lastName}}</h4>
                      <h4>Adresse: {{user.adr}}</h4>
                      <h4 > Téléphone : {{user.tel}}</h4>
                      <div class="info">
                          <p></p>
                        <div class="row">
                        
                            <ul class="text-center">
                              <li></li>
                              <li *ngIf="user.role=='teacher'">speciality : {{user.speciality}}</li>
                              
                            </ul>
                      
                          
                        </div>
                      </div>
                    </div>
                </div>



        
            </div>
      </div>
    </div>
  </section>
       